<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h3>Create a New Listing</h3>
            <form method="POST" action="/profilos" novalidate class="needs-validation">

                <div class="mb-3">
                    <label for="name" class="form-label">Enter Your Name </label>
                    <input name="personal[name]" placeholder="Name please" type="text" class="form-control" required />
                    <div class="valid-feedback">Title looks Good!</div>
                    <div class="invalid-feedback">Title not looks Good!</div>
                </div>
    
                <div class="mb-3">
                    <label for="title" class="form-label">Title: </label>
                    <input name="personal[title]" placeholder="AI Enginner" class="form-control" required />
                    <div class="valid-feedback">Description looks Good!</div>
                    <div class="invalid-feedback">Description not looks Good!</div>
                </div>
    
                <div class="mb-3">
                    <label for="description" class="form-label">Image please: </label>
                    <input name="personal[pro_image]" placeholder="enter a URL / Link" type="text" class="form-control" />
                </div>
    
                <div class="mb-3">
                    <label for="title_description" class="form-label">Title Description: </label>
                    <textarea  name="personal[title_description]" type="number" placeholder="2000" class="form-control" required> </textarea>
                    <div class="valid-feedback">Price looks Good!</div>
                    <div class="invalid-feedback">Price not looks Good!</div>
                </div>
    
                <div class="row">
                    <div class="mb-3 col-4">
                        <label for="country" class="form-label">Country: </label>
                        <input name="personal[country]" placeholder="India" type="text" class="form-control" required>
                        <div class="valid-feedback">Country looks Good!</div>
                        <div class="invalid-feedback">Country not looks Good!</div>
                    </div>
    
                    <div class="mb-3 col-8">
                        <label for="location" class="form-label">Location: </label>
                        <input name="personal[location]" type="text" placeholder="Bengaluru" class="form-control" required>
                        <div class="valid-feedback">Location looks Good!</div>
                        <div class="invalid-feedback">Location not looks Good!</div>
                    </div>

                    <div class="mb-3 col-8">
                        <label for="phone" class="form-label">Phone Number: </label>
                        <input name="personal[phone]" type="text" placeholder="Bengaluru" class="form-control" required>
                        <div class="valid-feedback">Location looks Good!</div>
                        <div class="invalid-feedback">Location not looks Good!</div>
                    </div>

                    <div class="mb-3">
                        <label for="linkedIn" class="form-label">LinkedIn: </label>
                        <input name="personal[linkedIn]" placeholder="enter a URL / Link" type="text" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label for="twitter" class="form-label">Twitter: </label>
                        <input name="personal[twitter]" placeholder="enter a URL / Link" type="text" class="form-control" />
                    </div>

    
                </div>
    
    
                <br><br>
    
                <button class="btn btn-dark add-btn">ADD</button>
    
                <br><br>
    
            </form>
        </div>
    </div>

    <script src="/js/script.js"></script>
</body>
</html>